@use "../utils" as *;

/*----------------------------------------*/
/*  BREADCRUMB CSS START
/*----------------------------------------*/

.bd-breadcrumb {
    position: relative;
    z-index: 2;
    min-height: 50vh;

    &-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        mix-blend-mode: luminosity;
        opacity: 0.1;
    }

    &-shape {
        z-index: 2;

        &-1 {
            position: absolute;
            top: 200px;
            inset-inline-start: 0px;
            animation: bd-updown-2 2s infinite alternate-reverse;
        }

        &-2 {
            position: absolute;
            top: 100px;
            inset-inline-end: 0px;
            animation: bd-updown-2 2s infinite alternate-reverse;
        }
    }

    &-content {
        color: var(--bd-common-white);
    }

    &-title {
        // position: relative;
        color: var(--bd-common-white);
        font-weight: var(--bd-fw-sbold);
        margin-bottom: 5px;
        font-size: 80px;

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 55px;
        }

        @media #{$sm,$md} {
            font-size: 60px;
        }

        @media #{$xs} {
            font-size: 50px;
        }
    }

    &-teaser{
        color: var(--bd-theme-2);
        font-size: 32px;
        font-weight: var(--bd-fw-sbold);
        margin-top: 20px;

        @media #{$xs} {
            font-size: 16px;
        }

        @media #{$sm,$md} {
            font-size: 18px;
        }

        @media #{$lg} {
            font-size: 18px;
        }

        @media #{$xl} {
            font-size: 20px;
        }
    }

    &-teaser-desc{
        color: var(--bd-common-white);
        // font-size: 12
        // font-weight: var(--bd-fw-regular);
        // margin-bottom: 20px;

        // @media #{$xs} {
        //     font-size: 16px;
        // }

        // @media #{$sm,$md} {
        //     font-size: 18px;
        // }

        // @media #{$lg} {
        //     font-size: 18px;
        // }

        // @media #{$xl} {
        //     font-size: 20px;
        // }
    }

    &-list {
        display: flex;
        justify-content: center;
        gap: 28px;

        span {
            position: relative;

            a {
                &:hover {
                    color: var(--bd-theme-2);
                }
            }

            i {
                margin-inline-end: 10px;

                @include rtl {
                    margin-inline-start: 10px;
                }
            }

            &:first-child {
                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 6px;
                    border-radius: 40%;
                    background-color: var(--bd-common-white);
                    inset-inline-end: -15px;
                    top: 50%;
                }
            }
        }
    }

    &-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        margin-top: 30px;
        font-weight: var(--bd-fw-regular);
        margin-top: 20px;
        background-color: var(--bd-shadow-1);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

        @media #{$xs} {
            font-size: 16px;
        }

        @media #{$sm,$md} {
            font-size: 18px;
        }

        @media #{$lg} {
            font-size: 18px;
        }

        @media #{$xl} {
            font-size: 20px;
        }

        h3 {
            font-weight: var(--bd-fw-sbold);
            color: var(--bd-common-white);
        }

        p {
            color: var(--bd-common-white);
        }
    }
}

.swiper-slide-active .bd-breadcrumb-bg {
    -webkit-transform: scale(1.12);
    -moz-transform: scale(1.12);
    transform: scale(1.12);
}
